  
<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          Banco de Projetos <br />
          <span class="text-primary">for your business</span>
        </h1>
        <p style="color: hsl(217, 10%, 50.8%); text-align: justify; text-justify: inter-word;">
          Este espaço, denominado Banco de Projetos, foi criado para disseminar conhecimentos através da contribuição de todos. 
          Experiências de sucesso despertam a curiosidade de quem tem sede de conhecer novas propostas inovadoras. Acreditamos 
          que a contrapartida de informações na área de convênios é de fundamental importância para o bom desempenho de nossos 
          trabalhos.
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="">
                    <label class="form-label" for="form3Example1">Nome completo</label>
                    <input type="text" id="form3Example1" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label" for="form3Example3">Endereço de Email</label>
                <input type="email" id="form3Example3" class="form-control" />
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="form3Example4">Senha</label>
                  <input type="password" id="form3Example4" class="form-control" />
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="form3Example4">Confirmar Senha</label>
                  <input type="password" id="form3Example4" class="form-control" />
                </div>
              </div>
              <div class="form-check d-flex justify-content-center mb-4">
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
